<h2>Seja bem vindo a sua TO-DO List!</h2>

<div class="container">
  <div class="add-task">
    <input type="text" [(ngModel)]="curTask" />
    <button class="btn btn-primary" (click)="add()">Adicionar tarefa</button>
  </div>

  <div class="alert alert-warning" role="alert" *ngIf="warning">
    Não é possível adicionar uma tarefa vazia!
  </div>

  <ul class="task-list list-group" *ngFor="let task of show(); index as i">
    <li class="list-group-item">
      <span>{{ task }}</span>
      <button class="btn btn-secondary" (click)="remove(i)">concluída</button>
    </li>
  </ul>
</div>
